.Collections {
  height: 308px;
  background: rgba(237, 238, 242, 1);
  display: flex;
  position: relative;
  align-items: center;
}
.Outer {
  background-color: white;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  gap: 20%;
  height: 150px;
  padding: 0 30px;
  width: 90%;
  margin: 0 auto;
}

.services {
  display: flex;
  background-color: white;
  border-radius: 10px;
  align-items: center;
}

.Delivery {
  display: flex;
  gap: 10px;
}
.writeUp {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.writeUp h4 {
  font-family: "Space Grotesk";
  font-weight: 600;
  font-size: 32px;
}

@media screen and (max-width: 600px) {
  .Collections {
    height: 79px;
    background: rgba(237, 238, 242, 1);
    display: flex;
    position: relative;
    align-items: center;
  }

  .Outer {
    background-color: white;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 8%;
    height: 47px;
    padding: 0 10px;
    width: 90%;
    margin: 0 auto;
  }
  .writeUp {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .writeUp h4 {
    font-family: Space Grotesk;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.31px;
    text-align: left;
  }
  .writeUp small {
    font-family: "Roboto";
    font-size: 10px;
    font-weight: 400;
    line-height: 11.93px;
    text-align: left;
  }
  .Delivery img {
    width: 28px;
  }
  .Outer div:nth-child(3) {
    display: none;
  }
}
