.footer_Container {
 max-height: 500px;
  padding: 61px 120px 60px 120px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.F_info h5 {
  color: white;
  font-family: "Space Grotesk";
  font-size: 32px;
  font-weight: 500;
  line-height: 40.83px;
  text-align: left;
  margin-bottom: 15px;
}

.F_info ul {
  list-style-type: none;
  display: block;
}

.logo_Container img {
  filter: invert(1);
}

.F_info ul li a {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
}

.accordion {
  display: none;
}
hr{
  display: none;
}

@media screen and (max-width: 600px) {
  .footer_Container {
    height: 370px;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
   justify-content: unset;
   gap: 30px;
  }

  .logo_Container {
    display: none;
  }

  .accordion {
    display: block;
    width: 100%;
  }

  .accordion_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: transparent;
    cursor: pointer;
  }

  .accordion_header h5 {
    color: white;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 600;
    line-height: 25.52px;
    text-align: left;
    margin: 0;
  }

  .dropdown_arrow {
    transition: transform 0.3s;
  }

  .dropdown_arrow_open {
    transform: rotate(180deg);
  }

  .accordion_content {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    border-top: 1px solid #ccc;
  }

  .accordion_content.open {
    display: block;
  }

  .accordion_content li {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
  }

  .accordion_content li a {
    text-decoration: none;
    color: #333;
    display: block;
  }

  .accordion_content li a:hover {
    text-decoration: underline;
  }

  .accordion_content li:last-child {
    border-bottom: none;
  }

  .F_info {
    display: none;
  }

  hr{
    display: block;
    width: 95%;
    margin: 30px auto;
  }
}
